<h1>Report <%= @fellowship.name %></h1>

<p>
  <strong>Time:</strong>
  <%= @fellowship.start_time %>
</p>

<%= form_tag report_fellowship_path(@fellowship), method: :post, id: 'report_form' do %>
  <table class="table form-group">
    <tr>
      <th>Host?</th>
      <th colspan="2">Name</th>
    </tr>
    <% @fellowship.pending_attendees.each do |user| %>
      <tr>
        <td><%= check_box_tag 'attendees[]', user.id, @fellowship.hosts.include?(user) %></td>
        <td><%= user.preferred_full_name %></td>
        <td><span class="glyphicon glyphicon-remove remove-row"></span></td>
      </tr>
    <% end %>
    <tr id="additional_attendee_row" hidden>
      <td><%= check_box_tag 'attendees[]', '', false %></td>
      <td><%= select_tag 'attendees[]', options_from_collection_for_select(@users, :id, :preferred_full_name), include_blank: true, class: 'form-control', disabled: true %></td>
      <td><span class="glyphicon glyphicon-remove remove-row"></span></td>
    </tr>
  </table>
  <%= button_tag 'Add Additional Attendee', type: 'button', class: 'btn btn-default pull-right', id: 'add_additional_attendee' %>
  <%= button_tag 'Submit', class: 'btn btn-default' %>
<% end %>
