<%= simple_form_for(@lineage) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, required: true %>
    <%= f.association :head %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
