<% if current_user %>
  <h1>Welcome, <%= current_user.preferred_full_name %></h1>

  <h4>Your Pending Service Projects:</h4>
  <table class="table table-hover table-condensed">
    <tr>
      <th>Project Name</th>
      <th>Project Time</th>
      <th>Project Type</th>
      <th>Project Length</th>
    </tr>
    <% current_user.pending_service_projects.each do |project| %>
      <% if project.reported_service_project_signups.size == 0 %>
        <tr>
          <td><%= project.name %></td>
          <td><%= project.start_time.to_date %></td>
          <td><%= project.project_type %></td>
          <td><%= project.project_length %></td>
        </tr>
      <% end %>
    <% end %>
  </table>

  <h4>Your Reported Service Projects:</h4>
  <table class="table table-hover table-condensed">
    <tr>
      <th>Project Name</th>
      <th>Project Date</th>
      <th>Project Type</th>
      <th>Project Hours</th>
    </tr>
    <% current_user.reported_service_projects.each do |project| %>
      <tr>
        <td><%= project.name %></td>
        <td><%= project.start_time.to_date %></td>
        <td><%= project.project_type %></td>
        <td><%= ReportedServiceProjectSignup.find_by(user: current_user, service_project: project).points %></td>
      </tr>
    <% end %>
<% else %>
  You should probably sign up or log in.
<% end %>
