<p id="notice"><%= notice %></p>

<h1>Pledge Classes</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Semester</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pledge_classes.each do |pledge_class| %>
      <tr>
        <td><%= pledge_class.name %></td>
        <td><%= pledge_class.semester %></td>
        <td><%= link_to 'Show', pledge_class %></td>
        <td><%= link_to 'Edit', edit_pledge_class_path(pledge_class) %></td>
        <td><%= link_to 'Destroy', pledge_class, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pledge Class', new_pledge_class_path %>
