<div class="row">
  <p id="notice"><%= notice %></p>
</div>

<div class="row">
  <div class="col-xs-12 col-md-9">
    <h2><%= @service_project.name %></h2>

    <p>
      <strong>Time:</strong>
      <%= @service_project.start_end_time %>
    </p>

    <p>
      <strong>Location:</strong>
      <%= @service_project.location %>
    </p>

    <p>
      <strong>Project Type:</strong>
      <%= @service_project.project_type %>
    </p>

    <p>
      <strong>Max Volunteers:</strong>
      <%= @service_project.max_volunteers %>
    </p>

    <p>
      <strong>Host:</strong>
      <%= @service_project.host ? @service_project.host.preferred_full_name : 'No host' %>
    </p>
  </div>
  <div class="col-xs-12 col-md-3">
    <% if current_user.pending_service_projects.include? @service_project %>
      <h4>Drop Project</h4>
      <%= link_to 'Drop Project', service_project_drop_path(@service_project), method: :delete %>
      <% if current_user == @service_project.host %>
        | <%= link_to 'Report Service Project', service_project_reporting_form_path(@service_project) %>
      <% end %>
    <% else %>
      <h4>Sign Up for Project</h4>
      <form action="/service_projects/<%= @service_project.id %>/sign_up" method="post" class="form-inline">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <label for="host_filter" class="control-label select required">
          <abbr title="required">*</abbr> Would you like to be host?
        </label>
        <select name="host_filter" id="" class="form-control select required">
          <option value=""></option>
          <option value="Yes">Yes</option>
          <option value="Yes, if necessary">Yes, if necessary</option>
          <option value="No">No</option>
        </select>
        <input type="submit" value="Sign Up" class="btn btn-default">
      </form>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-xs-12 col-md-6">
  <h4>Attendees</h4>
    <table class="table table-hover table-condensed">
      <tr>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Host?</th>
      </tr>
      <% @service_project.pending_nonwaitlist_attendees.each do |user| %>
        <tr>
          <td><%= user.preferred_full_name %></td>
          <td><%= user.phone_number %></td>
          <td><%= user.email %></td>
          <td><%= user.pending_service_project_signups.find_by(service_project: @service_project).host_filter %></td>
        </tr>
      <% end %>
    </table>
  </div>

  <div class="col-xs-12 col-md-6">
    <h4>Waitlist</h4>
    <table class="table table-hover table-condensed">
      <tr>
        <th>Name</th>
        <th>Phone Number</th>
        <th>Email</th>
        <th>Host?</th>
      </tr>
      <% @service_project.pending_waitlist_attendees.each do |user| %>
        <tr>
          <td><%= user.preferred_full_name %></td>
          <td><%= user.phone_number %></td>
          <td><%= user.email %></td>
          <td><%= user.pending_service_project_signups.find_by(service_project: @service_project).host_filter %></td>
        </tr>
      <% end %>
    </table>
  </div>
</div>

<%= link_to 'Edit', edit_service_project_path(@service_project) %> |
<%= link_to 'Back', service_projects_path %>
