<nav class="navbar fixed-top navbar-expand-md navbar-dark" style="background-color: #2C354F;">
  <div class="container">
    <a class="navbar-brand" href="/">APO</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><%= link_to 'Lineages', lineages_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'Pledge Classes', pledge_classes_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'Fellowships', fellowships_path, class: 'nav-link' %></li>
        <li class="nav-item"><%= link_to 'Service Projects', service_projects_path, class: 'nav-link' %></li>
        <% if user_signed_in? %>
          <li class="nav-item"><%= link_to 'Log Out', destroy_user_session_path, class: 'nav-link', method: :delete %></li>
        <% else %>
          <li class="nav-item"><%= link_to 'Sign Up', new_user_registration_path, class: 'nav-link' %></li>
          <li class="nav-item"><%= link_to 'Log In', new_user_session_path, class: 'nav-link' %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
